fastapi==0.110.0
uvicorn==0.29.0
scikit-learn==1.4.1.post1
numpy==1.26.4
requests==2.31.0
beautifulsoup4==4.12.3
python-whois==0.9.4
pydantic==2.6.4
androguard==4.1.4
python-multipart==0.0.9
twilio==9.0.4